*{
  padding: 0;
  margin: 0;
}

/* FONTS */
@font-face {
    font-family: 'league';
    src: url('fonts/league_spartan/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
*{
  font-family: monospace;
}

.red-txt{
  color: red;
}

.blue-txt{
  color: blue;
}

#username{
  opacity: 0.6;
}
/*///////////////////////////////*/

/* NAVIGATION */
#navigation{
  position: fixed;
  top: 3vh;
  right: 2vw;
  z-index: 2;
}

#navigation li{
    list-style-type: none;
    display: inline;
}

#navigation ul li{
  cursor: pointer;

  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));

  padding: 1vh 2vw;
  border: solid 2px black;
  border-radius: 4%;
  margin: 0em 1em;
}
/* NAVIGATION */

/*HEADER*/

#header{
  display: flex;

  height: 100vh;
  min-height: 500px;
  width: 100%;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#header h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: league;

  font-size: 5vw;
  height: 100%;
}

#header span{
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;

  font-family: league;

  padding: 0 0.2em;
  margin: 0em 0.1em;

  height: 100%;
  color: white;

  vertical-align: center;
  background: linear-gradient(rgba(0,0,0,1), rgba(0 ,0 ,0, 0.7), rgba(255,255,255,1));
}

/*HEADER*/


/* PORTFOLIO SECTION */

#portfolio-wrapper{
  margin-bottom: 10em;
  margin-top: 10em;

  height: auto;

  display: grid;

  grid-template-rows: repeat(2, 1fr);

  grid-template-columns: 0.6fr 0.4fr;
}

/* INNER DIV INFO */

.info-panel{
  width: 0%;      /*animate this*/
  height: 100%;

  opacity: 0;     /*animate this*/

  background-color: rgba(0,0,0,0.65) !important;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

.info-panel h4{
  font-family: league;
  color: white;
  font-size: calc(0.5rem + 0.8vw + 1vh);

  padding-left: 0.1em;
  margin: 0.1em 0;
}

.subtext{
  font-size: 1.2vw;
  color: white;
  font-size: calc(0.4rem + 0.5vw + 1vh);
  margin-bottom: 1em;
  margin-left: 0.8em;
  width: 70%;
}

.maintext{
  font-size: 1.2vw;
  color: white;
  font-size: calc(0.3rem + 0.4vw + 0.8vh);
  margin-bottom: 2.5em;
  margin-left: 0.8em;
  width: 70%;
}

.info-panel button{
  padding: 2vh 0.3em;
  width: 60%;

  margin-top: 0.2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;

  font-size: calc(1rem + 0.3vw);
  color: rgba(0,0,0, 0.7) !important;

  /*style*/

  box-shadow: 0px 15px 20px rgba(0, 0, 0, 1);

  /* change this */
  font-family: monospace;

  background: rgba(255, 255, 255, 1);
  color: white;

  border: solid 2px white;
  border-radius: 25px;
}

.button{
  align-self: center;
  justify-self: center;

  width: 40%;
  height: 5vh;

  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 30px;

  text-decoration: none;

  background-color: white;
  color: rgba(0, 0, 0, 0.6);

  margin-bottom: 3em;


}

.button:hover{
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
}



/* INNER DIV INFO */






/*rect images*/

#port-images{
  grid-row-start: 1;
  grid-row-end: 5;

  /* box-sizing: border-box;*/
  margin: 3em 2em;

  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: auto;

  column-gap: 5em;
  row-gap: 5em;
  /* Try self justifying children and removing border box here */

}

.port-div-img{
  display: inline-block;
  color: gray;

  background-color: gray;

  height: 80vh;
  width: 100%;

  align-self: center;
  just-self: center;
}

/* IMAGES */

#img1{
  background: url('./images/leon.jpg');
  background-size: cover;
  background-position: 20% 0%;
}

#img2{
  background: url('./images/portal.jpg');
  background-size: cover;
  background-position: 10% 0%;
}

#img3{
  background: url('./images/mobile_bistro.jpg');
  background-size: cover;
  background-position: 37% 0%;
}

#img4{
  background: url('./images/mechanic.jpg');
  background-size: cover;
  background-position: 90% 0%;
}

#img5{
  background: url('./images/brand.jpg');
  background-size: cover;
  background-position: 20% 0%;
}

#img6{
  background: url('./images/frank.jpg');
  background-size: cover;
  background-position: 90% 0%;
}

/* IMAGES */


/*square images*/

#port-aside-images{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  box-sizing: border-box;
}

#port-aside-images .links{
  /* grid */
  justify-self: center;
  align-self: start;

  display: flex;
  flex-direction: row;

  /* flex */
  justify-content: center;
  align-items: center;

  background-color: rgba(0,0,0,0.03);

  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);


  height: 50%;
  width: 50%;
}

#port-aside-images a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  text-decoration: none;
  color: black;
}

/* CHANGE THIS TO AN ANIMATON */
#port-aside-images a:hover{
  box-shadow: 0px 10px 10px rgba(0,0,0,0.7);
}

.links img{
  height: auto;
  width: 15%;

}

.links p{
  padding-left: 0.5em;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}



/* #port-aside-images img{
  background-color: gray;
  color: gray;
  border: 2px solid gray;

  height: 70%;
  width: 50%;
} */

/*Review Section*/

#port-review-wrapper{
  /* display: grid; */
  display: flex;

  flex-direction: column;

  justify-content: center;
  /* align-items: center; */

  height: auto;

  background-color: rgba(220,220,220,1);

  box-sizing: border-box;
  margin: 0em 1em;

  /* grid-template-columns: auto;
  grid-template-rows: auto; */
}

#port-review-wrapper h3{
  padding-left: 0.2em;
  font-size: calc(1em + 0.5vw + 0.9vh);
}

#port-review-wrapper p{
  margin: 0.3em 2em;
  font-size: calc(0.6em + 0.4vw + 0.7vh);
}

#port-review-wrapper div{
  box-sizing: border-box;
  padding: 0.4em 0;

  background-color: rgba(255, 255, 255, 0.5);

  justify-self: center;
  align-self: center;

  height: auto;
  width: 90%;

  display: flex;
  flex-direction: row;

  justify-content: space-around;

  box-shadow: 0px 2px 4px rgba(0,0,0, 0.5);

  border-radius: 5px;
}

#port-review-wrapper div img{
  height: 50px;
  width: 50px;

  color: rgba(220,220,220,1);
  line-height: 50px;
  border: 1px solid gray;
  background-color: gray;
  vertical-align: center;
  border-radius: 100%;

  align-self: center;
  self-justify: center;
}

#port-review-wrapper div p{
  box-sizing: border-box;
  width: 80%;

  text-justify:

  text-align: left;

  align-self: center;
  self-justify: center;
}

/* PORTFOLIO SECTION */

/* MAP SECTION */

#map{
    height: 70vh;
    min-height: 600px;
    width: 100%;

    background: linear-gradient(rgba(130,255,150, 0.7), rgba(170, 255, 120, 0.7));
}

/* MAP SECTION */

/* HERO INFO*/

#hero-info{
  margin: 10em 0;
  display: grid;

  height: auto;
  width: 100%;

  grid-template-columns: 0.40fr 0.6fr;

}

#hero-image{
  display: inline-block;
  height: 400px;
  width: 400px;

  justify-self: center;
  align-self: center;

  background-color: black;
}

#hero-details::before{
  content: '';

  background: rgba(0,0,0,1);

  display: inline-block;
  width: 2px;
  height: 270px;

  margin-right: 1em;

  float: left;
}

#hero-details{
  align-self: center;
}

#hero-details h3{
  font-size: 26px;
  font-family: league;
}

#hero-details p{
  font-size: 20px;
  font-family: sans-serif; /*Change this font*/

  margin-top: 1.3em;
}
/* HERO INFO*/

/* FOOTER */

footer{
  height: 16vh;
  width: 100%;
  display: flex;

  color: white;

  background: rgba(0,0,0,1);
  align-items: center;
  justify-content: space-around;
}

footer p{

  font-size: 20px;
  font-family: league;

}

/* FOOTER */



/************* PRODUCT PAGE ****************************/



/************* PRODUCT PAGE ****************************/








/* MEDIA QUERIES */
@media only screen and (max-width: 900px){

  #header h1{
    font-size: 8vw;
  }

  #portfolio-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-row-gap: 10vh;

    overflow: hidden; /*Turn off jquery animatons*/
  }

  #port-aside-images{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* grid-column-gap: 1vw; */
  }
/*
  #port-aside-images img{
    height: 40vh;
    width: 90%;
  } */

  .links{
    width: 80% !important;
    height: 100% !important;

    align-self: center !important;
  }

  .links img{
    width: 30%;
  }


/**********************/

  #port-review-wrapper{
    padding: 3em 3em;
    grid-row-gap: 5vh;
  }

  #map{
    height: 35vh;
    min-height: 30vh;
  }

  #hero-info{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #hero-details{
    justify-self: center;
    width: 50%;
  }

}

@media only screen and (max-width: 550px){

  #port-images{
    margin: 5em 0;
    width: 80%;

    grid-column-gap: 5vw;
    grid-row-gap: 10vw;
  }

  #port-images{
    grid-template-columns: 1fr;

    align-self: center;
    justify-self: center;
  }

  .port-div-img{
    width: 100%;
  }

  #port-aside-images{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5vh;
  }
  .links{
    width: 50% !important;
  }

  #hero-image{
    width: 100%;
  }

  #hero-details{
    width: 80%;
  }


}



